VITE_ARC_RPC_URL=https://arc-testnet.g.alchemy.com/v2/YOUR_ALCHEMY_KEY
VITE_ARC_FALLBACK_RPC_URL=https://rpc.testnet.arc.network
VITE_ARC_CHAIN_ID=5042002
VITE_ARC_EXPLORER=https://testnet.arcscan.app
VITE_CIRCLE_KIT_KEY=KIT_KEY:YOUR_ID:YOUR_SECRET
VITE_ZERODEV_PROJECT_ID=YOUR_ZERODEV_PROJECT_ID
VITE_ZERODEV_PASSKEY_SERVER_URL=https://passkeys.zerodev.app/api/v3/YOUR_PROJECT_ID
VITE_ZERODEV_RPC_URL=https://rpc.zerodev.app/api/v3/YOUR_PROJECT_ID/chain/5042002
